mat-grid-list {
    border: solid;
    border-color: coral;
}

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

img {
    padding-top: 8vh;
}