<mat-card>
    <mat-card-header>
        <mat-card-title>
            <img mat-card-image src={{iconSrc}} width="50" />
            {{location}}
        </mat-card-title>
        <button mat-icon-button color="warn" (click)="addToFavorites(location)" class="favorite-icon">
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-card-header>
    <mat-card-content>
        <mat-grid-list cols="3" rowHeight="3:2">
            <mat-grid-tile>
                <div class="weather-attribute">
                    <p>Actual temperature</p>
                    <p class="tile-value">{{actualTemp}} °C</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile>
                <div class="weather-attribute">
                    <p>Feels like</p>
                    <p class="tile-value">{{feelslikeTemp}} °C</p>
                </div>
            </mat-grid-tile>
            <mat-grid-tile id="current-wind-speed">
                <div class="weather-attribute">
                    <p>Wind speed</p>
                    <p class="tile-value">{{windSpeed}} m/s</p>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
        <app-forecast [location]="location" />
    </mat-card-content>
</mat-card>