.grid-container {
   display: grid;
   /* justify-content: center; */
   grid-template-areas: "weather-area  favorite-cities-area";
   grid-template-columns: 50% 50%;
}

 app-weather { grid-area: weather-area}
 app-favorite-cities { grid-area: favorite-cities-area}