<div class="searchbar-container">
    <mat-form-field class="example-form-field">
        <input 
        [matAutocomplete]="auto" 
        matInput 
        [formControl]="myControl"
        type="text" 
        placeholder="Enter city:" 
        [(ngModel)]="value" 
        (keyup.enter)="changeCity()"
        >
        <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let city of filteredCities | async" [value]="city">
            {{ city }}
        </mat-option>
    </mat-autocomplete>
</div>